:root {
  --primary: #395E66;
  --primary--dim: #72A98F;
  --secondary: white;
  --darkgrey: #d4d4d4;
  --medgrey: #e0e0e0;
  --grey: #f7f7f7;
  --white: #fff;

  --xs: 4px;
  --s: 8px;
  --m: 16px;
  --l: 24px;
}

form {
  flex-grow: 1;
}

input {
  font-family: 'Noto Sans', sans-serif;
}

button {
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.2em;
}

